.rightBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 10px 0; */
    
    width: 242px;
    height: 446px;

    border: 2px dashed #C4C4C4;
    border-radius: 6px;
    /* background-color: rgba(251, 251, 251, 0.708); */
}

.item:nth-child(1){
    margin-top: 2px ;
}

.item:nth-child(-n+3){
    margin-bottom: 5px ;
}